<!-- This page shows when you click a suggestion you've made or you clicked to see an answer someone gave to one of your suggestions -->

{% extends 'network/layout.html' %}

{% block content %}
<div class="row">
    <div class="col-6 .col-md-4">
    <h2 style="box-shadow: 10px #f0ad4e; border-style: solid; border-color: white;padding-left: 10px; border-left-color: #f0ad4e; font-size: 32px;"><img id="userimage" src="{{rec.recmander.image}}" 'width="300" height="380"> YOU wanted <u> {{recdados.recdado}}</u> <img src="{{recdados.recdado.image}}" id="userimage" width="300" height="380"> to take a listen to this {{recdados.tipo}}<a align="end" href="https://recspotify.herokuapp.com/listentothis/{{recdados.genurl}}"><h6>link here</h6></a></h2>
    <p></p>
    </div>

<div class="row"> 
    
    <div class="col-12 .col-md-8">
        <h4 style="box-shadow: 10px #f0ad4e; border-style: solid; border-color: white;padding-left: 10px; border-left-color: #f0ad4e; font-size: 32px;">What YOU had to say:</h4><h5 style="padding-left: 50px; font-style: italic;"> "{{recdados.msg}}"</h5>

    </div>
</div> 
</div>
</div>

    <div class="row justify-content-center" style="padding-bottom: 20px; padding-top: 20px">
     <div class="col-4">    
        <iframe src={{embedurl}} 'width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
        <div class="col-4 align-self-center">

        {% if recdados.answer == None %}
        <h2>Your recommendation has no answer yet.</h2>

        {% else %}

        <h2>His honest answer (probably):</h2>
        <h2 style="padding-left: 50px; font-size: 48px; font-style: italic;"> "- {{recdados.answer}}"</h2>
        <h6>(Sent on {{recdados.answer.answer_date}})</h6>
        {% endif %}        
       
               <div style="padding-left: 130px;">
       
                  
            <div style="padding-top: 15px; padding-left: 105px;">
               
            </div>
   
                </div>
        </div>



    <div class="container" id="displayrec">
   
        <h4 align="middle">
        	(talk back to him by recommending music)
        	</div></h4>
      

    </div>
    <div class="container" align="center" id="displayrec">
	   <a href="/home" class="btn btn-outline-secondary">Home</ba>
    </div>
        </form>
    </div>
{% endblock %}