<!-- This page shows every info on the song/album people recommended you and has all the actions you can do after receiving it -->

{% extends 'network/layout.html' %}

{% block content %}

<div class="row">
    <div class="col-6 .col-md-4">
    <h2 style="box-shadow: 10px #f0ad4e; border-style: solid; border-color: white;padding-left: 10px; border-left-color: #f0ad4e; font-size: 32px;"><img id="userimage" src="{{rec.recmander.image}}" 'width="300" height="380">
    {% if rec.recdado == rec.recmander %}
    Your recommendation:

    {% else %}
     {{rec.recmander}} wants you to take a listen to this {{rec.tipo}}
    {% endif %}
    </h2>

    <p></p>
    </div>

<div class="row"> 
    
    <div class="col-12 .col-md-8">
        {% if rec.recdado != rec.recmander %}

        <h4 style="box-shadow: 10px #f0ad4e; border-style: solid; border-color: white;padding-left: 10px; border-left-color: #f0ad4e; font-size: 32px;">What he has to say:</h4><h5 style="padding-left: 50px; font-style: italic;"> "{{rec.msg}}"</h5>
        {% endif %}
    </div>
</div> 
</div>
</div>
    
    <div class="row justify-content-center" style="padding-bottom: 20px; padding-top: 20px">
     <div class="col" align="center">    
        <iframe  src={{embedurl}} 'width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
        {% if rec.recmander == userinfo %}
        <div class="col-4 align-self-center">
        <div class="input-group mb-3 shadow-textarea toempty ">
            <div align="middle" class="input-group-prepend shadow-textarea">
                <textarea class="form-control" style="max-width:600px;" id="copy" rows="1" cols="40" >https://recspotify.herokuapp.com/listentothis/{{rec.genurl}}</textarea>
            </div>
                <button class="btn btn-outline-secondary" data-clipboard-target="#copy">
                COPY</button>
                <p style="padding:12px">Share this link again!</p></div><br>
            {% if rec.answer == None %}
            <h2>Still no answer.</h2>
            {% else %}
            <form action='/answer' id='answerform' name='answerform' method="POST">
                <input type="hidden" name="recdados" value="{{rec.id}}">
                <input type="hidden" name="answermusic" value="{{musicinfo.external_urls.spotify}}">
                <td><button type="submit" class="btn btn-outline-secondary" value="submit">{% csrf_token %}Got Answer!</button></td></form>
            {% endif %}

        </div>

        {% else %}
        {% if rec.tipo == "track" %}
        <div class="col align-self-center">
        You can add this to a playlist or just save it in your Library

    <!-- form to generate playlists from user and submit if it's a track-->
        
        <form action='/addmusic' id='addtoplaylist' name='addtoplaylist' method="POST">
        {% csrf_token %}
        <div style="padding: 15px; padding-left: 80px"class="row">
            <select style="width:auto; max-width: 500px;"class='form-control' id='playlists' name='playlists'>
            {% for element in final %}
                <option value="{{element.uri}}"> {{element.names}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-outline-secondary" type='submit' value='submit' id='bton' name='bton'>Add to playlist</button>
        </div>
        </form>
        {% elif rec.tipo == "album" %}
        <div align="center" class="col align-self-center">
            <div style="padding-bottom: 15px "> Since it's an album you can't add to playlist. </div>
        

        {% endif %}
    <div class="col align-self-center">
        <form action='/addmusic' id='savetrack' name='savetrack' method="POST">
        {% csrf_token %}
        <div style="padding-left: 130px;">
            <button class="btn btn-outline-secondary" type='submit' value='submit' id='bton' name='bton'>Save to library</button>
        </div>
        </form>

        <form action='/likemusic' id='liked' name='liked' method="POST">
            {% csrf_token %}
            <div style="padding-top: 15px; padding-left: 105px;">
                <button class="btn btn-outline-secondary" type='submit' value='submit' id='bton' name='bton'>Tell them you liked it</button>
            </div>
        </form>
    </div>

    </div>
</div>


<div class="row">
    <div class="container" id="displayrec">
    <!-- form to submit answer and add it to recc table -->
        {% if rec.answer != None %}
        <h4 align="middle">Since you've already given feedback, this will update your old answer</h4>
        {% endif %}

        <form action='/listentothis/{{genurl}}' id ='answer' name='answer' method="POST">
	   {% csrf_token %}
       <div class="container" style="padding: 10px" align="center" id="displayrec">
	       <textarea name="msg" id='msg' rows='5' cols='50' form='answer'></textarea>
           <input type="hidden" name="dbid" id="dbid" value="{{rec.id}}">
        </div>
    </div>
    <div class="container" align="center" id="displayrec">
	   <button class="btn btn-outline-secondary" form="answer" type='submit' value="submit">Give them feedback</button>
    </div>
        </form>
    {% endif %}
</div>


    


<!-- Javascript so I can add to playlists and save tracks/ albums with python -->
<script type="text/javascript">
    new ClipboardJS('.btn');

    $("#answer").submit(function(event){
        event.preventDefault();

        $.ajax({
        type: 'POST',
        url: '/listentothis/{{genurl}}',
        data: {
            'msg' : $('#msg').val(),
            'dbid' : $('#dbid').val(),
            },
            success: function(data, jqXHR){
                alert("Answer sent!");
            }
    })

    })
    
  ;
	
	$("#addtoplaylist").submit(function(event){
		event.preventDefault();

		$.ajax({
   		type: 'POST',
    	url: '/addmusic',
    	data: {
    		'playlist' : $('#playlists').val(),
    		'spotid' : "{{rec.spotid}}"
        	},
        	success: function(data, jqXHR){
        		alert("Added to playlist!");
        	}
    })

	})
	
  ;
  $("#savetrack").submit(function(event){
		event.preventDefault();

		$.ajax({
   		type: 'POST',
    	url: '/addmusic',
    	data: {
    		'spotid' : "{{rec.spotid}}"
        	},
        	success: function(data, jqXHR){
        		alert("Added to library!");
        	}
    })

	})
	
  ;
  $("#liked").submit(function(event){
        event.preventDefault();

        $.ajax({
        type: 'POST',
        url: '/likemusic',
        data: {
            'liked' : "{{genurl}}"
            },
            success: function(data, jqXHR){
                alert("Liked!");
            }
    })

    })
    
  ;
</script>
<div id="lol"></div>
<p></p>

{% endblock %}