{% extends 'network/layout.html' %}

{% block content %}
  <html>
  <head>
  	<!-- change title on index -->
  	<script type="text/javascript">
  		document.title= 'Login | reCommander'
  	// script so I remove logged in user on the header tab at index
    	document.getElementById("userpicheader").remove();
      document.getElementById("homeheader").remove();
      document.getElementById("recheader").remove();
      document.getElementById("logoutheader").remove();
      document.getElementById("header").remove();
    	
  			
  	</script>
    

  </head>

  <body class="text-center" style="background: no-repeat center center fixed; background-image:url('/static/network/images/tapeforcover.jpg'); ; background-size: cover; background-repeat: no-repeat; margin-bottom: 60px;"> 
    <div class="container">
      <div class="row" style="padding-bottom: 60px;">

        <div class="col-md-8" style="padding-top: 200px;"> 
            <h4 style="color: #bf360c; text-shadow: grey 0.1px 0.1px 0.2px"> reCommander</h4>
            <h1 class="" style="">Share music interactively</h1>
            <p class="" style="padding-top: 50px; font-size: 21px; text-shadow: grey 0.1px 0.1px 0.2px" align="center">Here you can use Spotify to keep tabs on music recommendations people make you and instantly add them to your library/playlist. After that, let them know what you thought of it - good, bad... unlistenable. Hopefully they also like yours, and we'll inform you if they listened to your suggestions, special points if it's on their top artist/track of the month!</p>
            <p class="" style="padding-top: 25px">
              <a href="/login" class="hkfont btn btn-outline-secondary btn-lg">{% csrf_token %}LET'S GO</a>
            </p>
          
        </div>
        
    </div>
    
    <footer class="footer" style=" position: absolute; bottom: 0; width: 100%; height: 60px">
        
          <p><a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>Built with Python library for the Spotify Web API - <a href="https://github.com/plamere/spotipy">Spotipy</a></p>
        
    </footer>   
  </div>
  </body>

{% endblock %}