<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="shortcut icon" href="#" />
	

	<!-- styles from bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

	

	<link rel="stylesheet" type="text/css" href="{% static '/spotify/cs/datatables.css' %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static '/spotify/cs/cover.css' %}" media="screen"/>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<!-- responsive viewport meta tag from bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	
	<title>reCommander</title>
	

	<!-- in case I want to send messages with redirect! -->
	{% if messages %}
	<div class="bg-warning" style="top:35px; left: 35px;">
		<div class="col" style=" display:table-cell; vertical-align:middle; height: 70px">
			<ul>
    		{% for message in messages %}
    		<li>{{ message }}</li>
    		{% endfor %}
    		</ul>
		</div>
	</div>
	{% endif %}
		
		<!-- things for ddSlick plugin -->
		 

		<!-- http://jquery.com/ -->
        <script type='text/javascript' src="https://code.jquery.com/jquery-latest.min.js"></script>

        <!-- http://getbootstrap.com/ -->
        <script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- https://github.com/corejavascript/typeahead.js/blob/master/doc/jquery_typeahead.md -->
        <script type='text/javascript' src="https://cdn.rawgit.com/corejavascript/typeahead.js/master/dist/typeahead.jquery.js"></script>

        <!-- http://handlebarsjs.com/ -->
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    	<script type="text/javascript" src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js"></script>
    	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

		<script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    	

       
        {% load static %}
		<script type="text/javascript" src="{% static 'spotify/js/scripts.js' %}"></script>

		<!-- copy to clipboard thing -->
		<script type="text/javascript" src="{% static 'spotify/js/clipboard.min.js' %}"></script>
	


</head>
<body>
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header id="header">
      	
    <div class="row justify-content-start">
    	<div class="col-4">
        <nav class="nav justify-content-start">
        	<a class="nav-link btn-outline-secondary hkfontsimple" href="/home" id="homeheader">Home</a>
        	<a class="nav-link btn-outline-secondary hkfontsimple" href="/recommend" id="recheader">Recommend</a>
        	<a class="nav-link btn-outline-secondary hkfontsimple" href="/logout" id="logoutheader">Logout</a>
        	<a class="nav-link" id="userpicheader">
        	<img style="float:left"id="headerpic" src="{{userinfo.image}}"></img></a>
        	</nav>
        	 
        	 </div>
        <div class="col-4">
        	<h3 align="center"><a id="headerrec" href="/home" class=" text-secondary hkfont" >reCommander</a></h3>
        </div>
        <ul class="nav nav-tabs">
        	
        </nav>
        </ul>

       
      </header>
{% block content %}{% endblock %}


</body>
	
</html>
